.body {
    display: flex;
    height: 100vh;
    width: 100%;
}

.body__left {
    @media(min-width:767.98px){
        width: clamp(10vw, 140px, 100vw);
    }
    transition: all 0.6s ease 0s;
    @media(max-width:767.98px){
        position: fixed;
        left: 0;
        z-index: 20;
        opacity: 0;
        width: 100%;
        top: 0;
        background: rgba(29, 30, 38, 0.85);
        height: 100%;
    }
}
.body__left.active {
    left: 0;
    opacity: 1;
    .left-menu {
        left: 0;
    }
}

.body__right {
    padding: 40px;
    width: 90vw;
}




.body-content {
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.body-content__main {
    flex: 0 1 66.6666%;
}

.body-content__right {
    flex: 0 1 33.33333%;
}