.post-big__buttons-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.post-big {
    border-radius: 12px;
    background: #272932;
    padding: 25px 31px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media(max-width:991.98px){
        gap: 20px;
    }
    @media(max-width:767.98px){
        padding: 12px 20px;
        gap: 15px;
    }
}




.post-big__write {
    display: flex;
    width: 100%;
    .user-left__image {
        width: 54px;
        height: 54px;
        img {
            height: 54px;
            width: 54px;
        }
    }
    .input-chat__label {
        width: 100%;
    }
    .user-item {
        gap: 0px;
    }
}
.items-button-2 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.post-big-buttons {
    display: flex;
    @media(min-width:487.98px){
        align-items: center;
    }
    justify-content: space-between;
    gap: 10px;
    @media(max-width:487.98px){
        flex-direction: column;
    }
}
.post-big-buttons__items {
    display: flex;
    gap: 15px;
    align-items: center;
    @media(max-width:487.98px){
        justify-content: space-between;
    }
}

.post-big-buttons__view {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #8C67F6;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.7; /* 20.4px */
    @media(max-width:487.98px){
        justify-content: end;
    }
}

.post-big-liked {
    display: flex;
    gap: 8px;
    align-items: center;
}

.post-big-liked__text {
    font-size: 13px;
    line-height: 1.7; /* 22.1px */
}

.post-big-liked__users {
    display: flex;
    
}
.post-big-liked__user {
    display: block;
    &:not(:first-child) {
        margin-left: -6px;
    }
}