
.button-main {
    font-family: Montserrat;
    position: relative;
    padding: 9px 17px;
    border-radius: 6px;
    background: linear-gradient(180deg, #7940CF 0%, #5921CB 100%);
    font-size: 11px;
    line-height: 170%; /* 18.7px */
    cursor: pointer;
    overflow: hidden;
    font-weight: 600;
    color:transparent;
    .text,
    .layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: Montserrat;
    }

    .layer {
        filter: url("#blob");
        
        .blob {
            position: absolute;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            width: 20px;
            height: 20px;
            transition: 0.4s ease-out;

            &.hover {
                background: #2354ff;
            }

            &.active {
                background: #043bef;
            }
        }
    }

    &:hover .hover {
        width: 96px;
        height: 96px;
        transition-timing-function: ease-in;
    }

    &:active .active {
        width: 96px;
        height: 96px;
        transition-timing-function: ease-in;
    }
}