


.button-violet {
    color: #8C67F6;
    font-size: 11px;
    line-height: 1.7; /* 18.7px */
    padding: 6px 10px;
    border: 1px solid #8C67F6;
    @media(hover:hover) {
        &:hover {
            background: #8C67F6;
            cursor: pointer;
            color:#fff;
        }
    }
}