
.user {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.user__buttons {
    justify-content: center;
    display: flex;
    gap: 26px;
    @media(max-width:767.98px){
        justify-content: start;
    }
    @media(max-width:487.98px){
        gap: 15px;
    }
}
.user-block {
    text-align: center;
    line-height: 1.7; 
    @media(max-width:767.98px){
        text-align: left;
    }
}
.user__name {
    font-size: 18px;
    font-weight: 600;
}
.user__nick {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
}


.user-top__img {
    position: relative;
    height: 142px;
    width: 100%;
    border-radius: 20px;
    background: #7940CF;
}
.user-top__img-button {
    position: absolute;
    right: 16px;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    border-radius: 12px;
    opacity: 0.45;
    background: #272932;
}

.user-body {
    gap: 10px;
    align-items: end;
    display: grid;
    margin-top: -30px;
    @media(min-width:767.98px){
        grid-template-columns: 1.8fr 0.4fr 1.8fr;
    }
    @media(max-width:767.98px){
        display: flex;
        margin-bottom: 10px;
    }
}

.user-body__items {
    display: flex;
    gap: 20px;
    @media(min-width:767.98px){
        justify-content: end;
    }
    @media(max-width:767.98px){
        margin-bottom: 10px;
    }
    
}
.user-body__item {
    display: flex;
    @media(min-width:767.98px){
        align-items: center;
    }
    flex-direction: column;
}
.user-body__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 16px; /* 88.889% */
    @media(max-width:991.98px){
        font-size: 14px;
    }
}

.user-body__text {
    color: rgba(255, 255, 255, 0.60);
    font-size: 10px;
    line-height: 1.7; /* 380% */
    @media(max-width:991.98px){
        font-size: 9px;
    }
}
.user-image {
    position: relative;
}

.user-image__image {
    position: relative;
    border-radius: 50%;
    border: 8px solid #1A1C26;
    img {
        scale: 1.02;
        border-radius:50%;
    }
}
.user-image__image-user {
    @media(max-width:991.98px){
        width: 80px;
        height: 80px;
    }
}
.user-image__pet {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    bottom: 0;
}
.user-body__text-block {
    color: rgba(255, 255, 255, 0.60);
    line-height: 1.7;
    font-size: 11px;
    @media(min-width:767.98px){
        overflow: hidden;
        max-height: 50px;
    }
}




.user-stats {
    align-items: center;
    gap: 20px;
    display: flex;
    width: 100%;
    @media(max-width:767.98px){
        display: grid;
        grid-template-areas: 
        "user-stats__body user-stats__body"
        "user-stats__level user-stats__btn";
    }
}
.user-stats__body {
    width: 100%;
    grid-area: user-stats__body;
}
.user-stats__level {
    white-space: nowrap;
    font-size: 12px;
    font-weight: 300;
    grid-area: user-stats__level;
}
.user-stats__btn {
    grid-area: user-stats__btn;
    @media(max-width:767.98px){
       display: flex;
       justify-content: end;
    }
}