.button-violet-bg {
    font-size: 11px;
    line-height: 1.7; /* 18.7px */
    padding: 6px 10px;
    transition: all 0.3s ease 0s;
    background: #8C67F6;
    border:1px solid transparent;
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
            color: #8C67F6;
            border: 1px solid #8C67F6;
            background: none;
        }
    }
}