

.select__body {
    position: relative;
    width: 100%;
}
.select__button {
    position: relative;
    padding: 11px 21px;
    color: #EBEBEB;
    border-radius: 10px;
    border: 1px solid #CBCBCB;
    background: #272932;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    font-size: 14px;
    line-height: 28px; /* 200% */
    transition: all 0.3s ease 0s;
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
        }
    }
}

.select__content{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid #CBCBCB;
    background: #272932;
    &:focus {
        outline: none;
    }
    height: 190px;
    z-index: 50;
    overflow-y: auto;
   // position: absolute;
    &::-webkit-scrollbar {
        width: 3px;
        border-radius: 30px;
        background: #272932;
        height: 100%;
    }
    &::-webkit-scrollbar-thumb {
        background: #8d67f66b;
        width: 3px;
        border-radius: 30px;
    }
}

.select-button__content {
    width: 100%;
    padding: 5px 15px;
    color: #EBEBEB;
    border-radius: 10px;
    border: 1px solid #CBCBCB;
    background: #272932;
    display: flex;
    align-items: center;
    gap: 34px;
    font-size: 14px;
    line-height: 28px; /* 200% */
    transition: all 0.3s ease 0s;
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
            background:  #7940CF ;
        }
    }
    &:focus {
        outline: none;
    }
}