


.button-white {
    padding: 7px 15px;
    color: #E3E3E3;
    font-size: 14px;
    gap: 8px;
    border: 1px solid #FAFAFA;
    
    line-height: 1.7; /* 23.8px */
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
            background:   #5921CB;
        }
    }
}