.left-menu {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 40px;
    background: #272932;
    transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: clamp(10vw, 126px, 100vw);
    @media(max-width:767.98px){
        position: fixed;
        left: -120%;
        z-index: 20;
        top: 0;
        height: 100%;
    }
}


.left-menu__logo {
    text-align: center;
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase;
    flex: 0 1 10%;
    position: relative;
    z-index: 1;
}

.left-menu__navbar {
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 86%;
    overflow: hidden;
    &::-webkit-scrollbar {
        width: 0px;
        border-radius: 30px;
        background-color: #fff;
        height: 100%;
    }
    &::-webkit-scrollbar-thumb {
        background: #8C67F6;
        width: 6px;
        border-radius: 30px;
    }
    overflow-y: auto;
}

.left-menu__span {
    background: #8F8F8F;
    width: 50%;
    height: 1px;
}

.left-menu__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-menu__item {
    height: 65px;
    width: 100%;
    text-align: center;
}
.left-menu__link {
    width: 100%;
    display: block;
    padding: 20px 25px;
    svg {
        position: relative;
        z-index: 10;
    }
    path {
        transition: all 0.4s ease 0s;
    }
    @media(max-width: 487.98px){
        padding: 20px 10px;
    }
}
.left-menu__link.active {
    path {
        fill: #7139CF;
    }
}

.indicator {
    transition: all 0.4s ease 0s;
    z-index: 3;
    width: 100%;
    left: 20%;
    top: 0;
    height: 66px;
    position: absolute;
    border-radius: 61px;
    background: #1A1C26;
    @media(max-width:767.98px){
        opacity: 0.8;
    }
}

.menu__indicator-1,
.menu__indicator-2,
.menu__indicator-3,
.menu__indicator-4 {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20%;
}

.menu__indicator-1 {
    top: -40px;
}

.menu__indicator-2 {
    top: -40px;
    border-radius: 0px 0px 50% 0px;
}

.menu__indicator-3 {
    bottom: -40px;
}

.menu__indicator-4 {
    bottom: -40px;
    border-radius: 0px 50% 0px 0px;
}
.menu__indicator-1,
.menu__indicator-3 {
    background: #1A1C26;
    z-index: 4;
    @media(max-width:767.98px){
        display: none;
    }
}

.menu__indicator-4,
.menu__indicator-2 {
    z-index: 5;
    background: #272932;
    @media(max-width:767.98px){
        display: none;
    }
}