

.button-filter {
    padding: 10px 23px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 1.7; /* 22.1px */
    background: #272932;
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
            background:  #5921CB;
        }
    }
}
.button-filter.active {
    background: linear-gradient(180deg, #7940CF 0%, #5921CB 100%);
}