.balance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    max-width: fit-content;
}

.balance__text {
    color: #FFF;
    font-size: 25px;
    font-weight: 800;
    line-height: 1; /* 152% */
    text-transform: capitalize;
}

.balance__image {

    width: 54px;
    height: 54px;
}